"*":
  "atom-beautify":
    general:
      _analyticsUserId: "4470757a-65e8-42fa-9a89-0dd44e01f6ca"
  "atom-ctags":
    cmdArgs: "--exclude=tmp --exclude=public"
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin"
    erlangHome: "/usr/local/bin"
  core:
    disabledPackages: [
      "symbols-view"
      "linter-jscs"
      "linter-erb"
      "linter-jshint"
      "linter-ui-default"
      "linter"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
  editor:
    preferredLineLength: 800
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "400909e5-f004-3c70-da28-bdd0ab643130"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  linter:
    disabledProviders: [
      "RuboCop"
    ]
  "linter-ui-default": {}
  pigments:
    markerType: "underline"
  "tree-view": {}
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    preferredLineLength: 800
".gnuplot.source":
  editor:
    preferredLineLength: 800
