# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

# Unix/Win
'.platform-win32, .platform-linux':
  'alt-shift-down': 'editor:move-line-down'
  'alt-shift-up': 'editor:move-line-up'
  'ctrl-shift-.': 'erb-snippets:erb_tags'
  'ctrl-up': 'emmet:increment-number-by-1'
  'ctrl-down': 'emmet:decrement-number-by-1'
  'ctrl-alt-enter': 'emmet:wrap-with-abbreviation'
  'shift-delete': 'editor:delete-line'
  'ctrl-k ctrl-t': 'change-case:title'
  'ctrl-k ctrl-s': 'change-case:snake'
  'ctrl-k ctrl-c': 'change-case:camel'
  'ctrl-k ctrl-d': 'change-case:param'
  'ctrl-k ctrl-p': 'change-case:param'

# OSX
'.platform-darwin':
  'cmd-k cmd-t': 'change-case:title'
  'cmd-k cmd-p': 'change-case:param'
  'cmd-shift-backspace': 'editor:delete-line'
  'shift-backspace': 'editor:delete-line'
'.platform-darwin .editor':
  'cmd-shift-backspace': 'editor:delete-line'
  'ctrl-alt-enter': 'emmet:wrap-with-abbreviation'

'atom-text-editor[data-grammar="source js jsx"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'
